@import url(https://fonts.googleapis.com/css?family=Poppins);

*{
    font-family: 'Poppins';
}

body{
    background-color: #F6F5F8;
}

.card-content{
    background-color: #fff;
    border-radius: 10px;
    padding: 32px 24px 24px 24px;
    margin-top: 30px;
}

.table-container-presensi{
    overflow-x: auto;
    overflow-y: hidden;
}

.presensi-width{
    width: auto;
    min-width: max(100%, 1200px);
}

.title-bar{
    width: 11px;
    height: 27px;
    flex-shrink: 0;
    border-radius: 5px;
    background-color: #FDD99F;
    padding: 0px;
}

.input-holder{
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.title{
    width: auto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
}

.text-label{
    color: #929292;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    user-select: none;
}

.dual{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between !important;
}

.input-and-pic{
    position: relative;
    width: 47%;
}

.input-and-pic input{
    width: 100%;
}

.input-and-pic img{ 
    position: absolute; 
    top: 6px; 
    right: 10px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(calendar-2.png);
    width: 20px;
    height: 20px;
    border-width: thin;
}

.box{
    position: relative;
    display: flex;
    width: 100%;
    height: 80px;
    outline: 2px dashed #D7D7D7;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.gambar-holder{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: 5;
    opacity: 0;
}

::file-selector-button {
    display: none;
}